<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ExhibitionMapper">
    <select id="list" resultType="com.example.domain.ExhibitionVO">
        select * from exhibition
    </select>
    <select id="read" resultType="com.example.domain.ExhibitionVO">
        select * from exhibition where e_no=#{e_no}
    </select>
    <select id="replyCount" resultType="int">
    	select count(*) from e_reply where e_no=#{e_no}
    </select>
</mapper>